<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.3/highlight.min.js"></script>
<script>
hljs.configure({
  languages: ['xml']
});

$(document).ready(function() {
  $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
  });
});
</script>


<%= form_tag('/', id: 'test_form') do %>

  <label id="xpath_label" for="xpath">Your XPATH expression:</label><br />
  <%= text_field_tag :xpath, params[:xpath] %> <%= submit_tag "Send", id: 'submit' %><br />

  <div id="test_and_result">

    <div id="test_string">
      <div id="inner_test_string_wrapper">
        <label for="xml">Your XML:</label>
          <%= text_area_tag :xml, params[:xml] %>
      </div>
    </div> <!-- #test_string -->

    <div id="result">
      <span class="result_label">Match result:</span>

      <% if @processed_xml %>
        <pre><code class="xml"><%=raw highlight_xml @processed_xml, @collection %></code></pre>
      <% end %>
    </div> <!-- #result -->

  </div> <!-- test_string -->

<% end %>
